// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav.nav {
  height: 5em;
  margin-bottom: 2em;
}

.search-form {

  form {
    display: flex;
    align-items: center;

    input {
      max-width: 15em;
      margin-right: 1em;
    }

    span {
      margin-right: 1em;
    }
  }
}
